<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phpMyAdmin</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/themes/pmahomme/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/themes/pmahomme/jquery/jquery-ui.css">
</head>

<body id="loginform">
    <div class="honeypot-warning">
        <strong>Uwaga! To nie jest prawdziwa strona logowania.</strong><br>
        Ta strona została przygotowana wyłącznie do celów badawczych – testujemy mechanizmy ochrony przed nieuprawnionym dostępem do systemów teleinformatycznych (tzw. honeypot).<br><br>
        Podane dane (np. login/hasło) są rejestrowane wyłącznie w celu analizy bezpieczeństwa, nie będą nigdzie wykorzystywane, ani udostępniane.<br><br>
        <em>Nie kontynuuj, jeśli nie wyrażasz zgody na udział w tym eksperymencie.</em>
    </div>

    <style>
    .honeypot-warning {
        background-color: #fff3cd;
        border: 1px solid #ffeeba;
        color: #856404;
        padding: 15px 20px;
        max-width: 600px;
        margin: -1em auto 10px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(255, 193, 7, 0.3);
        text-align: center;
    }
    .honeypot-warning strong {
        font-size: 18px;
    }
    .honeypot-warning em {
        font-style: normal;
        font-weight: bold;
    }
    @media screen and (min-width: 576px){
        .honeypot-warning {
            margin: 20px auto;
        }
    }
    </style>
    <div id="page_content">
        <div class="modal fade" id="previewSqlModal" tabindex="-1" aria-labelledby="previewSqlModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="previewSqlModalLabel">Loading</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="enumEditorModal" tabindex="-1" aria-labelledby="enumEditorModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enumEditorModalLabel">ENUM/SET editor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="enumEditorGoButton"
                            data-bs-dismiss="modal">Go</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createViewModal" tabindex="-1" aria-labelledby="createViewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" id="createViewModalDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createViewModalLabel">Create view</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="createViewModalGoButton">Go</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="https://www.phpmyadmin.net/" target="_blank"
                        rel="noopener noreferrer" class="logo">
                        <img src="/themes/pmahomme/img/logo_right.png" id="imLogo" name="imLogo" alt="phpMyAdmin"
                             border="0">
                    </a>
                    <h1>Welcome to <bdo dir="ltr" lang="en">phpMyAdmin</bdo></h1>

                    <div class="hide" id="js-https-mismatch">
                        <div class="alert alert-danger" role="alert">
                            <img src="/themes/dot.gif" title="" alt="" class="icon ic_s_error"> There is a mismatch
                            between HTTPS indicated on the server and client. This can lead to a non working phpMyAdmin
                            or a security risk. Please fix your server configuration to indicate HTTPS properly.
                        </div>
                    </div>
                    {{#if dirty}}
                        <div class="alert alert-danger" role="alert">
                            <img src="/themes/dot.gif" title="" alt="" class="icon ic_s_error">  Cannot log in to the MySQL server
                        </div>
                    {{/if}}
                    <div class="hide js-show" style="display: block;">
                        <div class="card mb-4">
                            <div class="card-header">
                                <span id="languageSelectLabel"> Language </span>
                            </div>
                            <div class="card-body">
                                <select name="lang" class="form-select autosubmit" lang="en" dir="ltr" id="languageSelect" aria-labelledby="languageSelectLabel">
                                    <option value="en" selected="">English</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <form method="post" id="login_form" name="login_form"
                        class="disableAjax hide js-show" style="display: inline;">
                        <input type="hidden" name="route" value="/"><input type="hidden" name="lang" value="en"><input
                            type="hidden" name="token" value="6f546c51757c3d2a6e73713e2d266963">
                        <input type="hidden" name="set_session" value="tifn7idkitik711nf7sop7kdqi">

                        <div class="card mb-4">
                            <div class="card-header">
                                Log in <a href="#" target="documentation"><img src="/themes/dot.gif"
                                        title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
                            </div>
                            <div class="card-body">

                                <div class="row mb-3">
                                    <label for="input_username" class="col-sm-4 col-form-label">
                                        Username: </label>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" id="input_username" value=""
                                            class="form-control" autocomplete="username">
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="input_password" class="col-sm-4 col-form-label">
                                        Password: </label>
                                    <div class="col-sm-8">
                                        <input type="password" name="password" id="input_password" value=""
                                            class="form-control" autocomplete="current-password">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input class="btn btn-primary" value="Log in" type="submit" id="input_go">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
